body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background: #ebe6e6;
  display: grid;
  gap: 3.75rem; /*60px / 16 = 3.75*/
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem; /*60px / 16 = 3.75 rem*/
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background: #ffffff;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  color: #000000;
  text-transform: uppercase;
  border: 4px solid transparent; /*Borda para deixar o mesmo tamanho do hover*/
  transition: 0.4s;
}

.menu a:hover {
  border-bottom: 4px solid #ee2211;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
}

.introducao {
  background: #ffffff;
  padding: 2.5rem;
  text-align: right;
}

.introducao {
  display: grid;
  position: relative;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

/*Pseudo element cria uma linha entre - texto Bicicletas Feitas a Mão e a imagem da bicicleta preta*/
.introducao::before {
  content: "";
  background: #ee2211;
  width: 3.75rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background: #ee2211;
  color: #ffffff;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25;
  text-transform: uppercase;
}

.botao:hover {
  background: #900;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  padding: 2.25;
  text-align: right;
  align-self: center;
  background-image: url("./img/onda.svg");
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.31rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent; /*Borda para deixar o mesmo tamanho do hover*/
}

.vantagens-item:hover {
  border-left: 4px solid #ee2211;
}

.vantagens-item p {
  grid-column: 2;
}

/*:nth-child(odd) pinta um lista apenas os ímpares*/
.vantagens-item:nth-child(odd) {
  background: #ebe6e6;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

/*abaixo de 1000px quebrar*/
@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 1.87rem;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao::before {
    display: none;
    justify-items: start;
  }
  .introducao {
    text-align: left;
  }

  .subtitulo{
    font-size: 2.5rem;
  }
  body {
    gap: 1.87rem; /*30px*/
    margin-top: 1.25rem;
  }
}

@media(max-width:380px){
  .subtitulo{
    font-size: 1.5rem;
  }

  p{
    font-size: 1rem;
  }

}
